body {
  font-family: 'Montserrat', sans-serif;
}

#mapid {
  height: 100%;
  display: flex;
  background-color: #292929;
  font-family: 'Karla', sans-serif;
}

#actualMap {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-family: 'Karla', sans-serif;

}

#actualMap h1 {
  width: 150%;
  padding-top: 1em;
  padding-left: 2.1em;
}

#actualMap h2 {
  width: 150%;
  padding-left: 2.5em
}

#actualMap h3 {
  width: 150%;
  padding-left: 3em
}

#mapHeader {
  position: absolute;
  z-index: 1000;
}

#mapHeader h3 {
  position: relative;
  left: 2vw;
}

#popup {
  color: black;
}

/* chart styling */

.graph {
  z-index: 100000;
  position: absolute;
  top: 20vh;
}

